<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width initial-scale=1.0" charset="utf-8">
    <title></title>
     <link rel="stylesheet" type="text/css" href="../static/Css/landing-page.css">



  </head>
  <body>
    <nav id ="header">
      <div id="logo">




      </div>
      <ul id="navbar">
        <li><h1>iREPORT</h1></li>
        <li><a href="redflag.html">report corruption </a></li>
        <li><a href="intervention.html">make an intervention </a></li>
        <li><a href="user-profile.html">useraccount</a></li>
        <li><a href="admin.html">admin </a></li>
        <li><a href="../index.html">log out </a></li>
      </ul>











    </nav>

    <main>


    </main>


    <footer>





    </footer>






  </body>











</html>
