s<!DOCTYPE html>
<html>
   <head>

       <meta name="viewport" content="width=device-width initial-scale=1.0">
       <link rel="stylesheet" type="text/css" href="../static/Css/user-profile.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

       <title > user profile</title>



   </head>
   <body>
     <div class="wraper">
       <div class="container">
         <div class="img-container">
           <img src="../static/images/p.jpg" alt="" class="banner-img">
           <img src="../static/images/j.png "class="profile-img">
           <div class="share">
             <ul>
               <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
               <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
               <li><i class="fa fa-instagram" aria-hidden="true"></i></li>



             </ul>


           </div>
           <div class="content">
             <div class="title">
               <p> KHALID HASHI</p>
               <span>A CIVIL SERVANT </span>



             </div>
             <div class="follow">
               <a href="user-record.html">check my report records</a>


             </div>



           </div>

        </div>
       </div>
       <br></br>

       <p>Report Statistics</p>
            <div class="profile-stats">
              <div class="stats">
                <p class="stat-value">4</p>
                <span class="stat-type">Resolved</span>
              </div>
              <div class="stats">
                <p class="stat-value">3</p>
                <span class="stat-type">Pending</span>
              </div>
              <div class="stats">
                <p class="stat-value">1</p>
                <span class="stat-type">Rejected</span>
              </div>
            </div>
            <button class="btn btn-primary">Edit Profile</button>
          </div>
           <footer><p>iReporter | Copyright &copy; 2018</p></footer>




     </div>












   </body>



</html>
